.j_wrapper {
  background-color: #f3f4f8;
  /* min-height: 100vh; */
  padding-bottom: 3rem;
}

.j_items_container {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  /* min-height: 100vh; */
}

.title_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title_section a {
  color: #0061ff;
}
.title_section .title {
  margin-block: 2.5rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: #0f1419;
}
.j_item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 15px;
  border-radius: 24px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.j_top {
  align-items: center;
  padding: 1px 0 0 20px;
  display: flex;
  justify-content: space-between;
}

.j_top div {
  display: flex;
  gap: 1rem;
}

.j_top .time {
  font-size: 16px;
  color: grey;
  font-weight: 300;
}

.j_top_place {
  color: #5325dc;
  background-color: #f5f3ff;
  padding: 2px 14px;
  border-radius: 9001px;
}

.star_icon {
  border: 1px solid rgb(205, 214, 223);
  padding: 5px;
  border-radius: 999px;
}

/* Bottom */

.j_bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  background-color: rgb(248, 250, 252);
  border-radius: 16px;
}

.j_bottom_left {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.j_bottom_left > img {
  max-width: 48px;
}

.j_bottom_left > div,
.right_section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.job_title,
.amount {
  font-weight: 600;
  font-size: 1.3rem;
  color: #0f1419;
}
.companyName {
  font-weight: 400;
  font-size: 1rem;
  color: #0f1419;
}
.details {
  display: flex;
  align-items: center;
  color: grey;
  gap: 0.6rem;
}

.details > span {
  font-weight: 300;
  font-size: 1.1rem;
}
.right_section {
  max-width: 380px;
}
/* .company_picture {
  border-radius: 999px;
} */
@media (max-width: 750px) {
  .j_top div {
    gap: 0.2rem;
  }
  .j_bottom {
    flex-direction: column;
    gap: 1rem;
    padding: 20px 15px 20px 25px;
  }
  .title_section {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 20px 17px;
  }
  .title_section .title {
    margin-block: 0.6rem;
  }
  .j_item {
    padding: 10px;

    gap: 0.3rem;
  }
  .job_title,
  .amount {
    font-weight: 600;
    font-size: 1.1rem;
    color: #0f1419;
  }
  .details {
    flex-wrap: wrap;
  }
  .j_items_container {
    margin: 0 15px;
  }
}

.itemSeparator {
  height: 8px; /* Adjust the height as needed */
  margin-bottom: 10px; /* Adjust the bottom margin as needed */
  border-radius: 24px;
}
