.sj_wrapper {
  background-color: #f3f4f8;
  min-height: 100vh;
  padding-bottom: 8rem;
}
.container {
  padding-top: 5rem;
}
.sj_container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}
.block {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 15px 4rem 15px;

  background-color: white;
  border-radius: 24px;
}
.title {
  color: var(--dark-bg);
  font-size: 32px;
  border-radius: 16px;
  padding: 32px;
}
.top_title {
  display: block;
  margin: 0px;
  font-size: 21px;
  letter-spacing: 0px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--dark-bg);
}
.subtitle {
  display: block;
  margin: 0px;
  font-size: 19px;
  letter-spacing: 0px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--dark-bg);
}
.detail {
  display: block;
  margin: 0px;
  color: rgb(75, 88, 101);
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 1.57143;
  font-weight: 400;
}

.sj_container .bottom_block {
  width: 50%;
}

/* Top Block */
.top_block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 24px;
}
.icon_wrapper {
  border-radius: 10px;
  display: grid;
  flex-shrink: 0;
  height: 36px;
  place-items: center;
  width: 36px;
  background-color: rgb(224, 244, 254);
  color: rgb(54, 185, 250);
}
.top_block .top {
  display: flex;
  gap: 1rem;
}
.top_block .bottom {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding-left: 50px;
}
.bottom_inner {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(227, 233, 239);
  /* width: 100%; */
}
.bottom_box {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: rgb(75, 88, 101);
}
/* Bottom Block */
.bottom_block {
  padding: 12px 12px 30px 12px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.bottom_block .top {
  color: var(--dark-bg);
  font-size: 32px;
  border-radius: 16px;
  padding: 32px;
  background-color: rgb(238, 242, 246);
}
.inner_block span {
  text-wrap: nowrap;
}
.inner_block {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.bottom_block .bottom {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 750px) {
  .bottom_section {
    flex-direction: column-reverse;
  }
  .sj_container {
    flex-direction: column;
  }
  .sj_container {
    width: inherit;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .sj_container .bottom_block {
    width: 100%;
  }
  .top_block .bottom {
    padding-left: 0;
  }
}
