.nav {
  z-index: 999999;

  display: flex;
  background-color: white;
  width: 100%;
  border-radius: 0px 0px 20px 20px;
  overflow: hidden;
  margin-bottom: -2.2rem;
  position: relative;
}

.nav_container {
  padding: 1.5rem 1rem;
  color: var(--dark-bg);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  border-radius: 0px 0px 20px 20px;
  overflow: hidden;
}

.nav_logo {
  font-weight: bold;
  cursor: pointer;
}
.left_wrapper {
  display: flex;
  gap: 2rem;
}

.left_item {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.left_img {
  width: 20px;
}

.title {
  display: block;
  font-size: 14px;
  font-weight: 500;
}
